{% extends 'base.html.twig' %}

{% block title %}Strona startowa{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3>Witamy w resteuracji ile jest kuciakow w tabliczce kuciakow</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <tbody>
                    <tr>
                        No FRONTEND ! Ruszac ... Jak macie jakies pytanie, chcecie cos gdzies dodatkowo podpiac, to fb</br>
                        Jak chcecie mozecie na wlasna reke grzebac w backendzie, ale JAK COS ZJEBIECIE NIE POMOGE xD Moge wytlumaczyc jak ktos chce sie czegos dowiedziec</br>
                        Jezeli sa jakies niezrozumiale "variables" typu "error" "errorCosTam" to pytajcie, moglem sie czasem zapomniec i poprostu dac "na szybko"</br>
                        Konta ktore mozna uzywac i sa zrobione (zabezpieczenia cuda na kiju, taka karuzela z pasami...)</br>
                        Klient: klient, klient</br>
                        Kucharz: kucharz, kucharz</br>
                        Kelner: kelner, kelner</br>
                        Manager: menedzer, menedzer</br>
                        Admin: admin, admin</br>
                        Slowem koncowym, wiecej juz nie tykam tego projektu nawet kijem (back end jest caly zrobiony), przed skonczeniem inzynierki</br>
                        No chyba ze wyjda jakies bugi w trakcie, lub poprostu bedzie potrzebna pomoc</br>
                        :)
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
    </div>
    </div>
    {% if is_granted('ROLE_CLIENT') %}
        <div>
            <h3> Dla klienta: </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Zamowienia</th>
                        <th>Dania</th>
                        <th>...</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="{{ path('zamowienie_index') }}" class="btn btn-info" role="button">Twoje zamowienia</a>
                        </td>
                        <td>
                            <a href="{{ path('danie_index') }}" class="btn btn-info" role="button">Menu</a>
                        </td>
                        <td>
                            Jak chcecie tu jakies wyswietlania czego kolwiek, nawet hasel ... to poprostu mi napiszcie to wam "wypluje" z bazy
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

