{% extends 'base.html.twig' %}

{% block title %}Panel uzytkownika{% endblock %}

{% block body %}
<div class="">
    <div class="card-header">
        <h3>Panel uzytkownika {{ user.username }}</h3>
    </div>
    <div class="">
        <div class="">
            <table class="table">
                <tbody>
                    <tr>
                        <th><a href="{{ path('userChangePassword', { 'id': user.id }) }}">Zmien hasło</a></th>
                    </tr>
                    <tr>
                        <th><a href="{{ path('userEditEmail', { 'id': user.id }) }}">Zmien email (obecny email - {{ user.email }})</a></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>
{% endblock %}
