{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zmien haslo</h1>
    <a class="btn btn-info" href="{{ path('panelUzytkownika') }}">Cofnij</a>
    {{ form_start(edit_form, {'attr': {'style': 'margin: auto; max-width: 20%;'}} ) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Edytuj" />
    {{ form_end(edit_form) }}

          </div>
{% endblock %}
